{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-center my-3">Tutti gli eventi</h1>

    <div class="row my-3 mx-3">
        {% for evento in eventi %}
            <div class="col-md-3">
                <a class="link-dark link-underline-opacity-0" href="{% url 'visualizza_evento' evento.titolo %}">

                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}{{ evento.image.url }}" class="card-img-top" alt="Evento Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ evento.titolo }}</h5>
                            <p class="card-text">{{ evento.descrizione }} <br>
                                Costo biglietto: {{ evento.costo_biglietto }} € <br>
                                Quando: {{ evento.data }}, ore {{ evento.orario }} <br>
                                Dove: {{ evento.luogo }}</p>
                            Affrettati, sono disponibili solo {{ evento.posti_disponibili }} biglietti! <br>

                            {#                        <a href="{% url 'iscrizione_evento' evento.titolo %}" class="btn btn-primary my-2">Iscriviti all'evento!</a>#}

                            {% if evento.costo_biglietto == 0 %}
                                <a href="{% url 'registrazione' evento.titolo %}" class="btn btn-primary my-2">Iscriviti all'evento!</a>
                            {% else %}
                                <a href="{% url 'pagamento' evento.titolo %}" class="btn btn-primary my-2">Acquista il biglietto!</a>
                            {% endif %}


                            <br>
                            {% if evento.tag.all %}
                                <span>Tags:</span>
                                {% for tag in evento.tag.all %}
                                    <span>{{ tag }}</span>
                                {% endfor %}
                            {% else %}
                                <p>No tags for the given event</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
