{% extends 'core/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="m-4 p-2">
        <h1 class="text-center my-3">Modifica evento: {{ evento.titolo }}</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <label for="tags">Tags:</label>
            <input type="text" name="tags" id="tags" value="{{ evento.tag.all|join:', ' }}">

            <button type="submit" class="btn btn-primary">Salva modifiche</button>
        </form>
    </div>

{% endblock %}
