<!-- profilo.html -->
{% extends 'core/base.html' %}

{% block content %}
    <h1>Il mio profilo</h1>
    <h2 class="text-center">Ciao {{ utente.username }} 😉</h2>

    <h3 class="m-3">I miei eventi:</h3>
    {% for evento in eventi_iscritti %}
        <ul class="list-unstyled">
            <li>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ MEDIA_URL }}{{ evento.image.url }}" class="card-img-top" alt="Evento Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ evento.titolo }}</h5>
                            <p class="card-text">{{ evento.descrizione }} <br>
                                Costo biglietto: {{ evento.costo_biglietto }} €<br>
                                Quando: {{ evento.data }}, ore {{ evento.orario }} <br>
                                Dove: {{ evento.luogo }}</p>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    {% empty %}
        <p>Non sei iscritto a nessun evento al momento.</p>
    {% endfor %}
{% endblock %}
