{% extends 'core/base.html' %}

{% block content %}
    <div class="m-3 p-2">
        <h1>Il mio profilo</h1>
        <h2 class="text-center">Ciao {{ utente.username }} 😉</h2>

        <h3>I miei eventi:</h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for evento in eventi_iscritti %}
                <div class="col">
                    <a class="link-dark link-underline-opacity-0" href="{% url 'visualizza_evento' evento.titolo %}">
                        <div class="card h-100">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ MEDIA_URL }}{{ evento.image.url }}" class="img-fluid rounded-start"
                                         alt="Evento Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ evento.titolo }}</h5>
                                        <p class="card-text">{{ evento.descrizione }}<br>
                                            Costo biglietto: {{ evento.costo_biglietto }} €<br>
                                            Quando: {{ evento.data }}, ore {{ evento.orario }}<br>
                                            Dove: {{ evento.luogo }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>Non sei iscritto a nessun evento al momento.</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}
